@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-background: #F8F9FA;
  --primary-color: #01244A
}

body {
  background-color: var(--default-background);
}

.ant-menu-dark .ant-menu-item:hover {
  font-weight: 700;
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}

.ant-menu-title-content:hover {
  font-weight: 700;
  color: var(--primary-color);
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item-selected {
  background-color: white;
  font-weight: 700;
  color: var(--primary-color);
  
}

.ant-menu-overflow-item.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child::after{
  width: 100%;
  background:#01244A;;
  height: 5px;
  border-radius: 2px;
  content: "";
  left: 0;
  right: 0;
  bottom: 1px;
  position: absolute;
}

.ant-btn.ant-btn-primary {
  background-color: var(--primary-color);
}

.ant-btn.ant-btn-primary:hover {
  background-color: var(--primary-color);
}